# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml
.externalNativeBuild
.cxx
*.apk
*.aab
output.json

# Captures folder
captures/

# IntelliJ
out/

# User-specific configurations
.DS_Store
/captures
.externalNativeBuild
.cxx

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml

# Lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Android Profiling
*.hprof

# Bazel (old build system, no longer used)
bazel-*
MODULE.bazel
BUILD.bazel
WORKSPACE*
maven_install.json
bundle_config.pb.json

.vscode